<h3>Register Your Space</h3>

<div class="grid grid-pad">
  <div *ngFor="let location of locations" (click)="gotoDetail(location)" class="col-1-4">
    <div class="module location">
      <h4>{{location.name}}</h4>
    </div>
  </div>
</div>

<div style="margin-top:20px; clear: both">  </div>

<div *ngIf="location">
  <h2 style="margin-left:250px">Add your space to {{location.name}} </h2>
	
	<div style="margin:20px; float:right; margin-right:40px" class="form-group">
			<a href="javascript:void(0)" (click)="goBack()"> <i class="fa fa-arrow-left fa-6" style="font-size: 1.5em; margin-left:10px" aria-hidden="true"></i>  </a>
			<a href="javascript:void(0)" (click)="save()"> <i class="fa fa-save fa-6" style="font-size: 1.5em;  margin-left:10px" aria-hidden="true"></i>  </a>
			<a href="javascript:void(0)" (click)="reset()"> <i class="fa fa-trash fa-6" style="font-size: 1.5em;  margin-left:10px" aria-hidden="true"></i>  </a>
	</div>	
	
	<div style="margin-top:20px; clear: both">  </div>
	
	<form class="form-inline" style="margin-top:10px; margin-left: 50px">
		  <div class="form-group field">
			<label>Owner: </label>
			<input class="form-control" [(ngModel)]="spaceDetails.owner"/>
		  </div>
		  <div class="form-group field">
			<label>Space Id: </label>
			<input class="form-control" readonly [(ngModel)]="spaceDetails.id" />
		  </div>	  
		  <div class="form-group field">
			<label>Space name: </label>
			<input class="form-control" [(ngModel)]="spaceDetails.name" placeholder="name" />
		  </div>
		   <div class="form-group field">
			<label>Hourly Rate: </label>
			<input class="form-control" [(ngModel)]="spaceDetails.rate" placeholder="10" />
		  </div>	
		  <div class="form-group field">
			<label>Number Of Parking slots: </label>
			<input class="form-control" [(ngModel)]="spaceDetails.slotsCount"/>
		  </div>
		   <div class="form-group field">
			<label>Coordinates: </label>
			<textarea class="form-control" [(ngModel)]="spaceDetails.cordsstr"  style="height: 50px; width:500px"></textarea>
		   </div>
	</form>
</div>
