<h2>Select Parking Slot</h2>
<div *ngIf="selectedSpace">
	<div *ngFor="#p of selectedSpace.slots">
	  <div [hidden]="!(p.status == 'available')" (click)="onSelect(p)" class="parking" [ngClass]="p.status">
		 <span class="parking-title">{{p.name}}</span>
	  </div>
	
	  <div [hidden]="(p.status == 'available')" (click)="onSelect(p)" class="parking" [ngClass]="p.status">
		  <i class="fa fa-car fa-6" style="font-size: 7em" aria-hidden="true"></i> 
		 <span class="parking-title">{{p.name}}</span>
	  </div>	 
	</div>
		
	<div style="margin-top:20px; clear: both">  </div>
	
	<div *ngIf="reservation.selectedSlot">
		<label>Selected Slot: </label>
		<span> {{reservation.selectedSlot.name}} </span>
	</div>
	
	
	<div style="clear:left; margin-top:30px">
		<label>Select From Date: </label>
		<input type="date" [(ngModel)]="reservation.from"/>
	</div>
	
	<div>
		<label>Select To Date: </label>
		<input type="date" [(ngModel)]="reservation.to"/>
	</div>
	
	<div>
		<label>Hourly Rate: </label>
		<span>{{selectedSpace.rate}}</span>
	</div>
	<div>
		<button (click)="save()">Save</button>
		<button (click)="refresh()">Refresh</button>
		<button (click)="openNavigationApp(selectedSpace)">Open Navigation!</button>
	</div>
	
</div>
